/*輪播*/

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#carouselExampleControls {
  display: none;
}

.row{
  margin:63px 0 20px 20px;
}
/*輪播的圓點往下*/
.swiper-container {
  overflow: unset;
}
div > .swiper-pagination-bullets {
  margin-bottom: -40px;
}

/*圖片設定*/

.row > .col-xl-8 > img {
  height: 685px;
  width: 100%;
}

/*文字設定*/

.row > .col-xl-4 > div > span {
  font-size: 60px;
  font-family: 微軟正黑體;
  font-weight: bolder;
}
.row > .col-xl-4 > div > h2 {
  /*英文副標題字體*/
  font-family: 微軟正黑體;
  margin-top: -10px;
  font-weight: bolder;
}

@media only screen and (max-width: 1200px) {
  .row{
    margin: 0 auto;
  }
  .swiper-container {
    display: none;
  }
  .row > .col-xl-8 > img {
    height: 300px;
    margin:0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .row > .col-xl-4 > div > span {
    font-size: 50px;
    margin: 10px;
    font-family: 微軟正黑體;
    font-weight: bolder;
  }
  .row > .col-xl-4 > div > h2 {
    font-size: 30px;
    margin: 10px;
    margin-top: -10px;
  }
  .row > .col-xl-4 > div > h4 {
    margin: 10px;
    font-family: 微軟正黑體;
  }
  /*輪播*/
  #carouselExampleControls {
    display: inherit;
    width: 80%;
    margin: 0 auto;
  }
}
